<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= title %></title>
</head>
<body>
<div id="main">
    <h1><%= title %></h1>
    <div id="version" class="clickable" onclick='document.location = "<%= download %>"; return false'>
      <p>Get Version</p>
      <a href="<%= download %>" class="numbers"><%= version %></a>
      <a href="<%= download %>" class="numbers"><img src="images/logo_bundle.png" style="width:50px;height:51px;border:0 none;" alt="Logo Bundle"></a>
    </div>
    <%= body %>
    <p class="coda">
      <a href="http://drnicwilliams.com">Dr Nic Williams</a>, <%= modified.pretty %><br>
      Theme extended from <a href="http://rb2js.rubyforge.org/">Paul Battley</a>
    </p>

    <!--
    * Matt A: "I'm new to this country, but I must be breaking some laws with this"
    * Allan O: "This is getting out of hand; I may have to cease development of TextMate"
    * Steve J: "This puts a ding in the universe"
    //-->
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-567811-10");
  pageTracker._initData();
  pageTracker._trackPageview();
</script>
</body>
</html>
